
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align:center;
}

.container {
    width: 50%;
    margin: auto;
}

.btn {
    margin: 20px 0;
    padding: 5px;
    background-color: white;
    border: solid 1px;
}

.btn {
    margin: 20px 0;
    padding: 5px;
    background-color: white;
    border: solid 1px;
}

.btn:focus{
    font-weight: bold;
}