@font-face {
    font-family: IBM;
    src: url(IBM.ttf);
}

tbody {
    font-family: IBM !important;
    font-size: 14px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align:center;
}

.container {
    width: 80%;
    margin: auto;
}

@media only screen and (max-width: 1500px) {
    .container {
        width: 95%;
        margin: auto;
    }
}

.btn {
    margin: 20px 0;
    padding: 5px;
    background-color: white;
    border: solid 1px;
}

.btn {
    margin: 20px 0;
    padding: 5px;
    background-color: white;
    border: solid 1px;
}

.btn:focus{
    font-weight: bold;
}