tbody {
    font-family: IBM !important;
    font-size: 14px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

td,
th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}