[req]
distinguished_name     = req_distinguished_name
prompt = no

[req_distinguished_name]
countryName            = LV
stateOrProvinceName    = Riga
localityName           = Riga
organizationName       = IMCS
organizationalUnitName = SysLab
commonName             = SomeUser
