$code-color: black;
$btn-border-radius: 0;
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.btn-outline-primary {
  --bs-btn-color: black;
}

@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';