.key-table tbody {
    font-family: IBM, serif !important;
    font-size: 14px;
}

.key-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.key-table td,
th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

.response-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
}

.response-table td,
th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}